<br />
<div class="booyah-box col-10 offset-1 ">
    <h1 class="text-center">MOAB Orders</h1>
    <hr />
    <div id="show-when-small">
        <h3 class="text-center"> Your screen is too small.<br />
            Flip to landscape mode to view orders.</h3>
    </div>
    <div id="hide-when-small">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-1">
                    <h3 class="index-size">
                        Id
                    </h3>
                </div>
                <div class="col-2">
                    <h3 class="index-size">
                        Name
                    </h3>
                </div>
                <div class="col-2">
                    <h3 class="index-size">
                        Item
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Size
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        Qty
                    </h3>
                </div>
                <div class="col-2">
                    <h3 class="index-size">
                        Color
                    </h3>
                </div>
                <div div class="col-3">
                    <h3 class="index-size">
                        Cost
                    </h3>
                </div>
            </div>
            <% @orders.each do |order| %>
            <div class="row  margin-index">
                <div class="col-1">
                    <h3 class="index-size">
                        <%= order.id %>
                    </h3>
                </div>
                <div class="col-2">
                    <h3 class="index-size">
                        <%= order.first_name %>
                        <%= order.last_name %>
                    </h3>
                </div>
                <div class="col-2">
                    <h3 class="index-size">
                        <%= order.item %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= order.size %>
                    </h3>
                </div>
                <div class="col-1">
                    <h3 class="index-size">
                        <%= order.quantity %>
                    </h3>
                </div>
                <div class="col-2">
                    <h3 class="index-size">
                        <%= order.color %>
                    </h3>
                </div>
                <div class="col-3">
                    <h3 class="index-size">
                        <span class="badge badge-default">
                            <%= number_to_currency order.cost %>
                        </span>
                        &nbsp;&nbsp;
                        <%=link_to  edit_order_path(order),  class: 'edit-symbol' do %>
                        <i class="far fa-edit" style="color:white"></i>
                        <% end %>&nbsp;&nbsp;
                        <%= link_to order_path(order), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'delete-symbol' do %>
                        <i class="far fa-trash-alt" style='color:white'></i>
                        <% end %>
                    </h3>
                </div>
            </div>
            <div class="underline">
            </div>
            <% end %>
        </div>
        <br />
        <div class="col-12 text-center">
            <%= link_to 'Homepage', root_path, class: 'btn btn-primary btn-large' %>
            <%= link_to 'Order Form', new_order_path, class: 'btn btn-primary btn-large' %>
        </div>
        <br />
        <div class="col-12 text-center">
            <%= link_to 'Purchase Form', purchase_path, class: 'btn btn-primary btn-large' %>
        </div>
        <br />
    </div>
</div>