@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

h1,
h2,
h3,
p {
    font-family: 'Share Tech', sans-serif;
}

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}


.booyah-box h2,
.booyah-box h1 {
    margin: 10px;
}


.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #B1015D;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    padding: 10px;
}

.help-block {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
    margin: 10px;
}

.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}


.index {
    font-size: 28px;
}

.navbar {
    background-color: white;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
    color: rgb(177, 1, 92);
}

.navbar-light .navbar-toggler {
    border-color: rgba(199, 22, 22, 0.1);

}

.string,
.select,
.integer {
    font-family: 'Share Tech', sans-serif;
    font-size: 28px;
}

.btn {
    color: white;
    background-color: grey;
}

a {
    color: white
}

.text-muted {
    color: white;
}

.badge {
    font-size: 96%;
}

.orders {
    font-size: 45px;
    text-decoration: underline;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-toggler {
    font-family: 'Share Tech', sans-serif;
    font-size: 28px
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #b1015c;
    font-family: 'Share Tech', sans-serif;
    font-size: 24px
}

.navbar-light .navbar-nav .nav-link {
    color: #b1015c;
    font-family: 'Share Tech', sans-serif;
    font-size: 24px;
}

.home-box {
    margin-top: 50px;
}

.btn-primary {
    width: 200px;
    font-family: 'Share Tech', sans-serif;
    font-size: 24px;
    border-color: white;

}

.btn-primary:hover {
    background-color: white;
    color: #0275d8;
}

.cash.btn.btn-primary.btn-large {
    width: 300px;
    font-family: 'Share Tech', sans-serif;
    font-size: 24px;
    border-color: white;
}

.cash.btn.btn-primary.btn-large:hover {
    background-color: white;
    color: #0275d8;
    width: 261px;
}

#test {
    font-size: 42px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3.25rem + 2px);
}

.show-box {
    margin-top: 120px;
}

.thanks {
    text-decoration: underline;
    text-decoration: bold;
}

.underline {
    border-bottom: 2px solid white;
    width: 100%;
    right: 0;
    position: absolute;
    padding: 0 1.5rem;

}

.margin-index {
    margin-top: 20px;
}

.index-size {
    font-size: 18px;
}

.moab-orders {
    margin-top: 40px;
}

#show-when-small {
    visibility: visible;
}

#hide-when-small {
    visibility: hidden;
}

@media (min-width: 400px) {
    .index-size {
        font-size: 12px;
    }

    #show-when-small {
        display: none;
    }

    #hide-when-small {
        visibility: visible;
    }
}

@media (min-width: 768px) {
    .index-size {
        font-size: 17px;
    }

    #show-when-small {
        display: none;
    }

    #hide {
        visibility: visible;
    }
}

@media (min-width: 992px) {
    .index-size {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .index-size {
        font-size: 30px;
    }
}